@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    background-color: var(--white);
}
:root{
    --black: #333;
    --white: #fff;
}
.dark{
    --black: #fff;
    --white: #333;
}

header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}
header .Logo{
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}
.rightside{
    display: flex;
}
.btns{
    position: relative;
    width: 40px;
    height: 40px;
    /* background: #CCC; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.btns ion-icon{
    font-size: 1.5em;
    color: var(--black);
}
.btns.menutoggle ion-icon{
    font-size: 2em;
}
.btns ion-icon:nth-child(2){
    display: none;
}
.btns.active ion-icon:nth-child(2)
{
    display: block;
    /* background-color: aqua; */
}
.btns.active ion-icon:nth-child(1)
{
    display: none;
    /* background-color: aqua; */
}
.navi{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--white);
    z-index: 4;
    transition: 0.5s;
}
.navi.active{
    left: 0;
}
.navi li{
    list-style-type: none;
}
.navi li a{
    text-decoration: none;
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.35em;
    color: var(--black);
    padding: 5px 20px;
    border-radius: 40px;
}
.navi li a:hover{
    background: var(--black);
    color:var(--white);
}
/* Chef image */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 600px;
    padding-bottom: 50px;
}
main,.container{
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .box{
    top: -60px;
    position: relative;
    width: 300px;
    height: 220px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    /* transition: 0.5s;    */
}
.container .box::before{
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 130%;
    background: linear-gradient(45deg,#3E64FF,#06283D);
}
.container .box::after{
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 130%;
    background: linear-gradient(45deg,#3E64FF,#06283D);
    filter: blur(20px);
}
.container .box .content {
    position: relative;
    z-index: 2;
    padding: 10px 20px;
}
.container .box span {
    position: absolute;
    top: -20px;
    left: 10px;
    right: 10px;
    bottom: -10px;
    background: rgba(0,0, 0, 0.07);
    z-index: 2;
}
.container .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    pointer-events: none;
}
/* *********************************************************** */
#imenu{
    font-size: 5em;
    color: var(--black);
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 30vh;
    left: 19%;
}

#imenu2{
    font-size: 4.5em;
    color: var(--black);
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 30vh;
    left: 18.5%;
}



/* ********************************************************** */
.b1
{   
    height: 155vh;
    width: 80%;
    /* background: linear-gradient(45deg,#BC8CF2,#3E065F); */
    position: absolute;
    top: 54vh;
    right: 10%;
}
.container2{
    z-index: 2;
    height: 155vh;
    width: 95%;
    /* background: var(--white); */
    border-radius: 20px;
    /* background: rgba(255, 255, 255, 0.1); */
    margin: auto;
    backdrop-filter: blur(5px);
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
}
.container2::before{
    z-index: -1;
    border-radius: 20px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 175vh;
    background: linear-gradient(45deg,#3E64FF,#06283D);
}
.container2::after{
    z-index: -1;
    border-radius: 20px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 175vh;
    background: linear-gradient(45deg,#3E64FF,#06283D);
    filter: blur(30px);
}
/* *************************************************************** */
.contain3{
    max-width: 1000px;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card1{
    position: relative;
    margin: 30px 0;
    width: 300px;
    height: 250px;
    background: var(--white);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
}
.card1:hover{
    z-index: 1000 ;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}
.card1 .imgbox2{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--black);
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.card1:hover .imgbox2{
    transform: rotateY(-135deg);
}
.card1 .imgbox2 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* backface-visibility:hidden; */
}
.card1 .detail{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px ;
}
.detail h2,p{
    color: var(--black);
}

/* ***********************rating bar**************** */
.brs{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.rating{
    right: 600px;
    top: 1800px;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
}
.rating img{
    height: 128px;
}
.rating input{
    display: none;
}
.rating label{
    position: relative;
    width: 0;
    height: 128px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(1);
    text-align: center;
    opacity: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.rating:hover label{
    width: 160px;
    opacity: 0.2;
}
.rating input:hover + label , .rating input:checked + label{
    filter: grayscale(0);
    width: 160px;
    opacity: 1;
}
.rating label h4{
    color: var(--black);
    font-size: 24px;
    padding-top: 10px;
    font-weight: 500;
    white-space: nowrap;
    transform: translateY(-50px) scale(0);
    transition: 0.5s;
    opacity: 0;
}
.rating input:hover + label h4 , .rating input:checked + label h4{
    transform: translateY(0px) scale(1);
    opacity: 1;
    /* color: var(--black); */
}
.txt{
    
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--black);
    width: 500px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;
    font-size: 36px;
}


/* *********FOOTER*********************** */
footer{
    position: absolute;
    width: 98.9vw;
    top: 2120px;
    background:#3586ff;
    min-height: 25vh;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social, footer .Menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social li , footer .Menu li{
    list-style: none;
}
footer .social li a {
    font-size: 2rem;
    color: aliceblue;
    margin: 0 20px;
    display: inline-block;
    transition: 0.5s;

}
footer .social li a:hover{
    transform: translateY(-2rem);
}
footer .Menu li a {
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .Menu li a:hover{
    opacity: 1;
}
footer p {
    color: aliceblue;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1rem;

}
footer .wave{
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background:  url(resources/wave.png);
    background-size: 1000px 80px;
}
footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}
footer .wave#wave2 {
    z-index: 998;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_02 4s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.25;
    bottom: 15px;
    animation: animatewave_03 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave_04 3s linear infinite;
}
@keyframes animatewave {
    0% {
        background-position-x: 1000px ;
    }
    100%{
        background-position-x: 0px ;
    }
}
@keyframes animatewave_02 {
    0% {
        background-position-x: 0px ;
    }
    100%{
        background-position-x: 1000px ;
    }
}
@keyframes animatewave_03 {
    0% {
        background-position-x: 1000px ;
    }
    100%{
        background-position-x: 0px ;
    }
}
@keyframes animatewave_04 {
    0% {
        background-position-x: 0px ;
    }
    100%{
        background-position-x: 1000px ;
    }
}


.card1 .detail h5 {
    position: relative;
    top: 0px;
    display: inline-block;
    padding: 10px 10px;
    background: #ff4d54;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 10px;
}